#proposals {
  background: $ice;
  padding-top: 44px;
  height: 100%;
  min-height: 470px;

  h2 {
    color: $orange;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 -10px 10px;
  }

  ion-list {
    display: block;

    .item {
      border: 0;
      background: transparent;
      padding: 0;
    }
  }

  .card {
    padding: 0;
    min-height: 250px;
    height: 250px;
    position: relative;

    h3 {
      font-size: 16px; 
      background: $diamond; 
      overflow: hidden; 
      text-overflow: ellipsis; 
      padding: 12px;

      small {
        font-size: 13px;
        color: $darkergrey;
      }

      p {
        margin: 0;
      }
    }
  }

  .card-body {
    color: $black; 
    font-size: 14px; 
    padding: 0 10px 10px 10px; 
    white-space: normal; 
    overflow: hidden; 
    text-overflow: ellipsis;
    height: 100px;
  }

  .card-footer {
    border-top: 1px solid $lightgrey;
    text-align: left;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: $lightergrey;

    a {
      color: $lightblue;
      cursor: pointer;
      padding: $unit;
      display: inline-block;
    }
  }

  td-cards {
    position: relative;

    td-card {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    #loading-cards {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 3 * $unit;
    }
    .force-reload {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 3 * $unit;
      a {
        color: $lightblue;
        cursor: pointer;
      }
    }
  }

  .cards-footer {
    text-align: center;
    margin-top: 260px;

    a {
      color: $lightblue;
      text-transform: uppercase;
      margin: $unit;
      cursor: pointer;
    }
  }
}
