#profile {
  background: $ice;
  padding-bottom: $unit;

  h1 {
    position: relative;
    background: url(../img/blue.png);
    font-weight: 700;
    font-size: 36px;
    height: 184px;
    overflow: hidden;
    color: $white;
    text-align: center;
    padding: 30px 0;

    span {
      margin: 0 auto;
      display: inline-block;

      span {
        text-align: center;
        float: left;
        margin-left: $unit;
        margin-top: $unit;
      }
    }

    img {
      float: left;
    }

    h2 {
      color: $white;
      cursor: pointer;
    }
  }

  h2 {
    color: $blue;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin: $unit;
  }

  .back {
    top: $unit;
    color: $white;
  }

  p {
    margin: $unit;
    font-size: 16px;
    color: $darkergrey;
    line-height: 24px;
    text-align: justify;
    clear: both;
  }

  select {
    width: 100%;
  }

  .input-label {
    display: none;
  }

  select, #transgender {
    margin: $unit 0;
  }

  .text-center {
    text-align: center;
  }

  .level-and-points {
    color: $darkergrey;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }

  #game-bar {
    border-radius: 12px;
    height: $unit * 2;
    width: 90%;
    background: $lighterblue;
    position: relative;
    margin: 0 auto;
  }

  #game-bar-inner {
    border-radius: 12px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: $brightblue;
    padding-right: $unit;
    font-weight: bold;
    text-align: right;
    color: $white;
  }

  hr {
    margin-top: $unit * 2;
  }

  .badge {
    position: relative;

    img {
      width: 128px;
    }

    p {
      text-align: center;
    }

    span {
      border-radius: 50%;
      border: 2px solid $black;
      background: $white;
      color: $black;
      position: absolute;
      right: $unit;
      top: $unit;
      font-size: 22px;
      padding-top: 7px;
      padding-bottom: 5px;
      display: block;
      width: 32px;
      text-align: center;
      overflow: hidden;
    }
  }
}

#profile-warning {
  background: #FFF4DA url(../img/warning.png) left center no-repeat;
  border-top: 3px solid #F1E1BE;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  p {
    color: $darkergrey;
    padding-left: 64px;
    margin: $unit;

    b {
      text-decoration: underline;
    }
  }

  p + p {
    color: $gold;
    font-weight: bold;
  }

  span {
    display: inline-block;
    width: 26px;
    height: 26px;
    background: url(../img/close.png);
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;

    span {
      display: none;
    }
  }
}
