#proposal {
  background: $ice;
  padding-bottom: $unit;

  h1 {
    position: relative;
    background: $green-triangles;
    background-size: 100%;
    font-weight: 700;
    font-size: 36px;
    color: $white;
    text-align: center;
    padding: 60px 0;
    overflow: visible;
  }

  h2 {
    color: $lightgreen;
    font-size: 18px;
    margin: $unit;
  }

  .back {
    top: $unit;
    color: $white;
  }

  img {
    margin: $unit;
  }

  p {
    margin: $unit;
    font-size: 16px;
    color: $darkergrey;
    line-height: 24px;
    text-align: justify;
    clear: both;
  }

  .button {
    text-transform: uppercase;
    border: 1px solid $shadow;
    margin: $unit / 2;
    font-size: 10px;
  }
  
  .comment {
    background: $pink;
    color: $white;
  }

  .tag {
    background: $purple;
    color: $white;
  }

  .report-abuse {
    background: $darkergrey;
    color: $white;
  }

  .edit {
    background: $darkorange;
    color: $white;
  }

  .follow {
    background: $darkgreen;
    color: $white;
  }

  .vote {
    background: $brightgreen;
    color: $white;
  }

  .proposal-buttons, .proposal-badges {
    text-align: center;
  }

  .proposal-buttons span {
    display: none;
  }

  .comment-message {
    margin: $unit;

    span {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  #comments {
    overflow: auto;
    height: 6000px;
  }
}
